@model WebShop_2024_A.Models.AuthModel

@section style{
	<link href="~/css/login.css" rel="stylesheet">
}
<div class="vh-100 d-flex mt-3">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 col-md-6 col-sm-8 col-xs-10 mx-auto">
				<div id="loginFrame" class="position-relative">
					<div id="signup" class="levelDown shadow bg-white card p-3">
						<h3 class="my-2">Signup</h3>
						@using (Html.BeginForm("SignUp", "Shop", FormMethod.Post, new { @class = "mx-3 my-3" }))
						{
							<div class="mb-3">
								@Html.LabelFor(m => m.User.EmployeeID)
								@Html.TextBoxFor(m => m.User.EmployeeID, null, new { @class = "mt-2 form-control", @type = "number" })
								@Html.ValidationMessageFor(m => m.User.EmployeeID, null, new { @class = "text text-danger" })
							</div>
							<div class="mb-3">
								@Html.LabelFor(m => m.User.UserName)
								@Html.TextBoxFor(m => m.User.UserName, null, new { @class = "mt-2 form-control" })
								@Html.ValidationMessageFor(m => m.User.UserName, null, new { @class = "text text-danger" })
							</div>
							<div class="mb-4">
								@Html.LabelFor(m => m.User.Password)
								@Html.PasswordFor(m => m.User.Password, new { @class = "mt-2 form-control" })
								@Html.ValidationMessageFor(m => m.User.Password, null, new { @class = "text text-danger" })
							</div>
							<div class="mb-2">
								<button class="btn btn-lg btn-primary w-100">SignUp</button>
							</div>
							if (Model.Message.Length > 0)
							{
								<div class="mt-4 text-center alert alert-danger">
									@Model.Message
								</div>
							}
						}
					</div>
					@if (!Model.IsRegistration)
					{
						<div id="login" class="levelUp shadow bg-white card p-3">
							<h3 class="my-2">Login</h3>
							@using (Html.BeginForm("Login", "Shop", FormMethod.Post, new { @class = "mx-3 my-3" }))
							{
								<div class="mb-3">
									@Html.LabelFor(m => m.User.UserName)
									@Html.TextBoxFor(m => m.User.UserName, null, new { @class = "mt-2 form-control" })
								</div>
								<div class="mb-2">
									@Html.LabelFor(m => m.User.Password)
									@Html.PasswordFor(m => m.User.Password, new { @class = "mt-2 form-control" })
								</div>
								<div class="mb-2">
									<button class="btn btn-lg btn-success w-100">Login</button>
								</div>
								if (Model.Message.Length > 0)
								{
									<div class="mt-4 text-center alert alert-danger">
										@Model.Message
									</div>
								}
							}
						</div>
					}

				</div>
			</div>
		</div>
	</div>
</div>
@section script {
	<script src="~/Script/login.js"></script>
}