@model MVC_SHOP_2024_B.Models.MVCShopModel
@{
	string loginLevel = Model.SignUp ? "levelDown" : "levelUp";
	string signUpLevel = Model.SignUp ? "levelUp" : "levelDown";
}
@section style{
	<link href="~/css/login.css" rel="stylesheet">
}
<div class="vh-100 d-flex align-items-center">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 col-md-6 col-sm-8 col-xs-10 mx-auto">
				<div id="loginFrame" class="position-relative">
					<div id="signup" class="@signUpLevel shadow bg-white card p-3">
						<h3 class="my-2">Signup</h3>
						@using (Html.BeginForm("Signup", "Shop", FormMethod.Post, new { @class = "mx-3 my-3" }))
						{
							<div class="mb-3">
								@Html.LabelFor(m => m.Authentic.UserName)
								@Html.TextBoxFor(m => m.Authentic.UserName, new { @class = "mt-2 form-control" })
								@Html.ValidationMessageFor(m => m.Authentic.UserName, null, new { @class = "text text-danger" })
							</div>
							<div class="mb-2">
								@Html.LabelFor(m => m.Authentic.Password)
								@Html.PasswordFor(m => m.Authentic.Password, new { @class = "mt-2 form-control" })
								@Html.ValidationMessageFor(m => m.Authentic.Password, null, new { @class = "text text-danger" })
							</div>
							<div class="mb-3">
								@Html.LabelFor(m => m.Authentic.EmployeeID)
								@Html.TextBoxFor(m => m.Authentic.EmployeeID, new { @class = "mt-2 form-control" })
								@Html.ValidationMessageFor(m => m.Authentic.EmployeeID, null, new { @class = "text text-danger" })
							</div>
							<div class="mb-2">
								<button class="btn btn-lg btn-success w-100">Signup</button>
							</div>
							if (Model.Authentic.Message.Length > 0)
							{
								<div class="mt-4 text-center alert alert-danger">
									@Model.Authentic.Message
								</div>
							}
						}
					</div>
					<div id="login" class="@loginLevel shadow bg-white card p-3">
						<h3 class="my-2">Login</h3>
						@using (Html.BeginForm("Login", "Shop", FormMethod.Post, new { @class = "mx-3 my-3" }))
						{
							<div class="mb-3">
								@Html.LabelFor(m => m.Authentic.UserName)
								@Html.TextBoxFor(m => m.Authentic.UserName, new { @class = "mt-2 form-control" })
								@Html.ValidationMessageFor(m => m.Authentic.UserName, null, new { @class = "text text-danger" })
							</div>
							<div class="mb-2">
								@Html.LabelFor(m => m.Authentic.Password)
								@Html.PasswordFor(m => m.Authentic.Password, new { @class = "mt-2 form-control" })
								@Html.ValidationMessageFor(m => m.Authentic.Password, null, new { @class = "text text-danger" })
							</div>
							<div class="mb-2">
								<button class="btn btn-lg btn-success w-100">Login</button>
							</div>
							if (Model.Authentic.Message.Length > 0)
							{
								<div class="mt-4 text-center alert alert-danger">
									@Model.Authentic.Message
								</div>
							}
						}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section script{
	<script src="~/Script/login.js"></script>
}